<?xml version="1.0"?>

<!--
This is a modified version of the original ihmc_atlas_standing.launch
file from ihmc_gazebo. It has been modified to use some different topics
and support setup of robot hands via environment variables.
-->

<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="'$(find ihmc_gazebo)/worlds/atlas_default.world'"/>
  <arg name="hand_suffix" default=""/>
  <arg name="extra_gazebo_args" default="-q" />
  <arg name="model_args" default="" />

  <param name="/atlas/time_to_unpin" type="double" value="0.5"/>
  <param name="/atlas/startup_mode" type="string" value="standing"/>
  
  <rosparam file="$(find ihmc_gazebo)/yaml/standing_world_config.yaml" command="load"/>
  
  <!-- start gazebo with the Atlas -->
  <include file="$(find vigir_ihmc_gazebo_launch)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="$(arg gzworld)"/>
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
  </include>
  
  <!--<param name="robot_description_gazebo" command="$(find xacro)/xacro.py '$(find atlas_description)/robots/vigir_atlas.urdf.xacro'" />-->

  <!-- Robot Description -->
  <group ns="/atlas">
    <!--<param name="robot_description" textfile="$(find ihmc_models)/urdf/atlas_unplugged_v5_no_hands.urdf" />-->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find atlas_description)/robots/vigir_atlas.urdf.xacro'" />
    <param name="robot_initial_pose/x"     value="0.10" type="double"/>
    <param name="robot_initial_pose/y"     value="-0.45" type="double"/>
    <param name="robot_initial_pose/z"     value="0.92" type="double"/>
    <param name="robot_initial_pose/roll"  value="0.0" type="double"/>
    <param name="robot_initial_pose/pitch" value="-0.0" type="double"/>
    <param name="robot_initial_pose/yaw"   value="0.0" type="double"/>  
  </group>  

  <include file="$(find drcsim_gazebo)/launch/atlas_v5_bringup.launch">
    <arg name="atlas_joint_states_topic" value="/ihmc_ros/atlas/output/joint_states_without_hokuyo"/>
  </include>
</launch>
